atomic*
bugs
DRD2_dataset
figures
generated_ranking_results
lightning_logs_*
misc
no_bioactive_in_training
old
pharmacophores*
results*
test_contributions*
train_contributions*
test*
train_models *
train_models-*
train_models_*
Untitled*
gen_mol*
jak2*
conformer_generator*
.ipynb_checkpoints/
.vscode/
__pycache__/
prop_test.sdf
pdbbind_ligands.sdf
ghecom*
0SB/
L9M/